#user{
  position: absolute;
  top: 45%;
  left: 46%;
}

#pw{
  position: absolute;
  top: 50%;
  left: 46%;
}

#rw_pw{
  position: absolute;
  top: 55%;
  left: 46%;
}

#submit{
  position: absolute;
  top: 60%;
  left: 46%;
  width: 147px;
}
