<table>
  <tr class="header-col"><th class="hour">Horaires</th><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th></tr>
  <tr class="row-1"><th class="hour">8H</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-2"><th class="hour">9H</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-3"><th class="hour">10h</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-4"><th class="hour">11H</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-5"><th class="hour">12H</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-6"><th class="hour">13H30</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-7"><th class="hour">14H30</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-8"><th class="hour">15H30</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-9"><th class="hour">17H30</th><th></th><th></th><th></th><th></th><th></th></tr>
  <tr class="row-10"><th class="hour">17H30</th><th></th><th></th><th></th><th></th><th></th></tr>
</table>
