th, td{
  border: solid 1px black;
  height: 40px;
  width: 100px;
  color: #f8f8f6;
  font-weight: bold;

}

td{
  background-color: 	#f8f8f6;
  text-align: center;
  font-family: sans-serif;

}

table{
  border-spacing: 0px;
  position: absolute;
  top: 50%;
  left: 69%;

}

.header-col th{
  height: 20px;
  background-color: #565554;
}

.hour{
  width: 23px;
  background-color: #565554;

}
