<table>
  <tr class="header-col"><th class="hour">Horaires</th><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th></tr>
  <tr class="row-1"><td class="hour">8H</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-2"><td class="hour">9H</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-3"><td class="hour">10h</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-4"><td class="hour">11H</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-5"><td class="hour">12H</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-6"><td class="hour">13H30</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-7"><td class="hour">14H30</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-8"><td class="hour">15H30</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-9"><td class="hour">17H30</td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr class="row-10"><td class="hour">17H30</td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
